<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="profle.css">
</head>

<body>
    <div class="container">
        <h1>P<span>rofile.</span></h1>
        <div class="profilePicture">
            <img src="<%= user.picture  %>">
        </div>
        
            
                <div class="initial-scale">
                  <label for="name">Name:</label>  <%= user.name %>
                </div>
                <div class="initial-scale">
                   <label for="name">Email:</label> <%= user.email %>
                </div>
            

            <!-- <div id="actionPanel">
                <a id="edit" href="/profile/<%= user.uid %>/edit">Edit</button>
                <button id="signOut">Sign Out</button>
            </div> -->
        
    </div>
    <div class="trn">
        <div class="create">
           <button> <a href="<%= user.uid %>/txn/create">Create Transaction</a></button> 
        </div>
        <div class="transactions">
            <% transactions && transactions.forEach(t => { %>
                <div onclick="window.location.href='<%- user.uid %>/transaction/<%- t._id %>'">
                    <div><%= t.name %></div>
                    <div><%= t.description %></div>
                    <div>
                        <a class="recruit btn" href="/apply/<%= t._id %>">Apply</a>
                        <a class="btn" href="/video/download/<%= t.consumer_vid._id %>">Download</a>
                    </div>
                </div> 
            <% }) %>
        </div>
    </div>

    <script>

        (function () {
            let user = '<%- user ? JSON.stringify(user) : "" %>'
            user = user ? JSON.parse(user) : null
            setGlobalUserData(user)
            
            const session = checkSessionExists()
            if (!session || session.uid != user.uid) {
                document.getElementById('actionPanel').remove()
            }
        })()

        document.onload = () => {
            document.getElementById('signOut').onclick = () => {
                removeSession()
                window.location.href = "/profile/<%= user.uid %>"
            }
        }
    </script>
</body>

</html>